<div class="container">
    <h1>Image Upload</h1>
    {{msg}}

    <h1>File Upload</h1>
    {{msg}}
    <form action="/uploadFile" method="POST" enctype="multipart/form-data">
        <div class="file-field input-field">
            <div class="btn grey">
                <span>File</span>
                <input name="myFile" type="file">
            </div>

        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
    <br>
    <a href="/exportExcel"> Export data to excel</a>
    <table class="table table-sm table-borderless">
        <thead>
            <tr class="table-primary  border-bottom border-black">
                <th>#</th>
                <th>Name</th>
                <th>Size</th>
                <th>Upload Time</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {{#each documents}}

            <tr>
                <td class="py-3"><b>{{id}}</b></td>
                <td class="py-3">{{name}}</td>
                <td class="py-3">{{size}}</td>
                <td class="py-3">{{upload_time}}</td>
                <td>
                    <a href="/download/{{id}}">Download</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>